extends layout

block content
  h1= title
  // form表单的action为空时，将向当前url地址提交表单
  form(id="loginForm", name="loginForm", method="post", action="")
    div
      label(for="email") 邮箱：
      input(type="email", name="email")
    div
      label(for="password") 密码：
      input(type="password" name='password')

    input(type="submit" value="登录")
  p 或者你可以?
    a(href="/mongoose-pm/user/new") 注册
