extends layout

block content
  h1= title
  p #{username}, 你确定永久删除账号吗？ 该账号的邮箱为 #{email}
  form(id="deleteUserForm" method="post" action="")
    input(type="hidden" name="_id" id="_id" value="#{_id}")
    input(type="submit" value="永久删除!")
